.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top-text {
  background-color: #D9DDDC;
  height: 2rem;
  box-shadow: -1px 3.5px #BDBEB8;
  padding: 0.25rem;
  margin: 0;
}

.icons {
  width: 5%;
  border-right: 1.5px solid #BDBEB8;
}

.parent {
  display: flex;
  height: 100vh;
}

.palatte-area {
  width: 20%;
  margin-top: 0.5rem;
}

.content-area {
  display: flex;
  width: 80%;
  background: #D9DDDC;
  height: 100%;
  border: 2px solid #BEB6B8;
}